<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>Agent1</name>
  <description>Laravel auto build and test agent</description>
  <remoteFS>/var/jenkins_home</remoteFS>
  <numExecutors>8</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@3.1097.v868116049892">
    <host>agent1</host>
    <port>22</port>
    <credentialsId>jenkins</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyTrustedKeyVerificationStrategy">
      <requireInitialManualTrust>false</requireInitialManualTrust>
    </sshHostKeyVerificationStrategy>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>laravel</label>
  <nodeProperties/>
</slave>